.container {
  max-width: 1200px;
  padding: 0rem 2rem;
  margin: auto;
  overflow: hidden;
}

header .main-nav ul li a, #main-head .head-content a {
  display: inline-block;
  padding: 0.8rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 600px) {
  header .main-nav ul li a, #main-head .head-content a {
    padding: 0.8rem;
    font-size: 1rem;
  }
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 1rem;
}

.center {
  text-align: center;
}

.center h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.center p {
  font-size: 1.2rem;
}

#about-head,
#work-head,
#contact-head {
  background: #AFB6BE;
  height: 6rem;
  border-bottom: 4px solid #DBA768;
}

@media (max-width: 650px) {
  #about-head,
  #work-head,
  #contact-head {
    height: 8rem;
  }
}

.items {
  margin: 3rem 1rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 2.3rem;
      grid-template-areas: 'itm-1 itm-2 itm-3' 'itm-4 itm-5 itm-6' 'itm-7 itm-8 itm-9';
}

.items .im-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: itm-1;
}

.items .im-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: itm-2;
}

.items .im-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: itm-3;
}

.items .im-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: itm-4;
}

.items .im-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: itm-5;
}

.items .im-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: itm-6;
}

.items .im-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: itm-7;
}

.items .im-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: itm-8;
}

.items .im-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: itm-9;
}

.items .item {
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  height: 100%;
  width: 100%;
}

.items .item .itm-img {
  height: 80%;
}

.items .item .itm-img img {
  height: 100%;
}

.items .item .itm-txt {
  padding: 0.4rem;
  height: 20%;
  background: #B9B9B7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.items .item .itm-txt h2 {
  margin-bottom: 0.2rem;
}

.items .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 975px) {
  .items {
    margin: 2rem 1rem;
  }
  .items .item .itm-img {
    height: 75%;
  }
  .items .item .itm-txt {
    padding: .2rem;
    height: 25%;
  }
  .items .item .itm-txt h2 {
    font-size: 1.3rem;
  }
  .items .item .itm-txt p {
    font-size: 1rem;
  }
}

@media (max-width: 875px) {
  .items .item .itm-img {
    height: 70%;
  }
  .items .item .itm-txt {
    height: 30%;
  }
  .items .item .itm-txt h2 {
    font-size: 1.2rem;
  }
  .items .item .itm-txt p {
    font-size: 0.95rem;
  }
}

@media (max-width: 800px) {
  #work-sec1 {
    padding-top: 2.5rem;
  }
  .items {
        grid-template-areas: 'itm-1 itm-2' 'itm-3 itm-4' 'itm-5 itm-6' 'itm-7 itm-8' 'itm-9 itm-10';
  }
  .items .item .itm-img {
    height: 80%;
  }
  .items .item .itm-txt {
    height: 20%;
  }
  .items .item .itm-txt h2 {
    font-size: 1.3rem;
  }
  .items .item .itm-txt p {
    font-size: 1rem;
  }
}

@media (max-width: 620px) {
  #work-sec1 {
    padding-top: 2rem;
  }
  .items .item .itm-img {
    height: 75%;
  }
  .items .item .itm-txt {
    padding: 0.3rem;
    height: 25%;
  }
  .items .item .itm-txt h2 {
    font-size: 1.2rem;
  }
  .items .item .itm-txt p {
    font-size: 0.9rem;
  }
}

@media (max-width: 560px) {
  .items {
    margin: 2rem 3rem;
        grid-template-areas: 'itm-1' 'itm-2' 'itm-3' 'itm-4' 'itm-5' 'itm-6' 'itm-7' 'itm-8' 'itm-9';
  }
  .items .item .itm-img {
    height: 85%;
  }
  .items .item .itm-txt {
    padding: 0.2rem;
    height: 15%;
  }
  .items .item .itm-txt h2 {
    font-size: 1.4rem;
  }
  .items .item .itm-txt p {
    font-size: 1.1rem;
  }
  .items .item:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}

section {
  background: #E4E3DF;
}

#about-section1 .about-info {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'bioimg bio bio' 'a-1 a-2 a-3';
  grid-gap: 1.4rem;
}

#about-section1 .about-info .bio-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimg;
}

#about-section1 .about-info .bio-inf {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
}

#about-section1 .about-info .award-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a-1;
}

#about-section1 .about-info .award-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a-2;
}

#about-section1 .about-info .award-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: a-3;
}

#about-section1 .about-info .bio-inf {
  background: #B9B9B7;
  padding: 1rem;
  border-left: 4px solid #DBA768;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#about-section1 .about-info .bio-inf h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#about-section1 .about-info .aw {
  margin-top: 1rem;
  text-align: center;
}

#about-section1 .about-info .aw i {
  color: #DBA768;
  margin-bottom: 1rem;
}

#about-section1 .about-info .aw h3 {
  margin-bottom: 0.6rem;
}

#about-section2 {
  background: #333333;
  color: #ffffff;
}

#about-section2 h3 {
  font-size: 1rem;
}

#about-section2 .bar {
  background: #B9B9B7;
  overflow: hidden;
  height: 15px;
  border-radius: 10px;
  margin: 0.5rem 0;
}

#about-section2 .bar div {
  background: #DBA768;
  height: 100%;
}

#about-section3 {
  border-bottom: 2px solid #DBA768;
}

#about-section3 .logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

#about-section3 .logos img {
  width: 80%;
}

#about-section4 .testimonials {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#about-section4 .testimonials .test-para {
  margin-bottom: 1rem;
  background: #B9B9B7;
  padding: 0.5rem;
  text-align: center;
  border-radius: 2px;
}

#about-section4 .testimonials .test-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

#about-section4 .testimonials .test-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0rem 0.5rem;
}

@media (max-width: 950px) {
  #about-section3 .logos img {
    width: 90%;
  }
  #about-section4 {
    padding-top: 2rem;
  }
  #about-section4 .testimonials {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 790px) {
  #about-section1 .about-info .bio-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about-section1 .about-info img {
    border-radius: 50%;
  }
  #about-section3 .logos {
    /*margin-left:3rem; */
    padding: 1rem 2.5rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 680px) {
  #about-section1 .center h2,
  #about-section2 .center h2,
  #about-section4 .center h2 {
    font-size: 1.8rem;
  }
  #about-section1 .center p,
  #about-section2 .center p,
  #about-section4 .center p {
    font-size: 1.1rem;
  }
  #about-section1 {
    padding-top: 1.8rem;
  }
  #about-section1 .about-info {
    margin-top: 1.2rem;
        grid-template-areas: 'bioimg' 'bio' 'a-1' ' a-2' ' a-3';
    grid-gap: 1.2rem;
  }
  #about-section1 .about-info img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
  }
  #about-section1 .about-info .bio-inf {
    padding: 1.5rem;
    border: 4px solid #DBA768;
  }
  #about-section1 .about-info .bio-inf h3 {
    font-size: 1.3rem;
  }
  #about-section2 {
    padding-top: 1.8rem;
  }
  #about-section4 {
    padding-top: 1.5rem;
  }
  #about-section4 .testimonials {
    margin-top: 1.8rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #about-section4 .testimonials .test-para {
    padding: 1rem;
  }
  #about-section4 .testimonials .test-img {
    padding: 0.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about-section4 .testimonials .test-img:not(.l-test) {
    border-bottom: 1px dotted #333333;
  }
}

@media (max-width: 500px) {
  #about-section3 {
    padding: 1rem;
  }
  #about-section3 .logos {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about-section3 .logos .logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem;
  }
  #about-section3 .logos .logo-img:not(.lst-img) {
    border-bottom: 1px dotted #9D9D9D;
  }
  #about-section3 .logos img {
    width: 100%;
  }
}

#contact-sec1 .ip-frm {
  margin-top: 2rem;
}

#contact-sec1 .ip-frm .grid-dis {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

#contact-sec1 .ip-frm .grid-dis input {
  padding: 8px;
}

#contact-sec1 .ip-frm .flex-dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-sec1 .ip-frm .flex-dis textarea {
  margin-top: 2rem;
  width: 100%;
}

#contact-sec1 .ip-frm .flex-dis .sub-btn {
  background: #9D9D9D;
  border: 0.5px solid #B9B9B7;
  border-radius: 2px;
  margin-top: 2rem;
  padding: 0.6rem 0;
  width: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#contact-sec1 .ip-frm .flex-dis .sub-btn:hover {
  cursor: pointer;
  background: #DBA768;
  border-color: #9D9D9D;
}

#contact-sec2 {
  background: #9D9D9D;
}

#contact-sec2 .infos {
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

#contact-sec2 .infos h2 {
  margin-top: 0.6rem;
}

#contact-sec2 .infos p {
  margin-top: 0.4rem;
  font-size: 1.1rem;
}

#contact-sec3 {
  text-align: center;
  background: #DBA768;
}

#contact-sec3 .large {
  padding: 0.5rem;
}

#contact-sec3 .large h1 {
  font-size: 3.6rem;
}

@media (max-width: 880px) {
  #contact-sec3 {
    padding: 2rem;
  }
  #contact-sec3 .large h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 720px) {
  #contact-sec3 {
    padding: 1.5rem;
  }
  #contact-sec3 .large {
    padding: 1rem;
  }
  #contact-sec3 .large h1 {
    font-size: 2rem;
  }
}

@media (max-width: 620px) {
  #contact-sec1 {
    padding-top: 1.8rem;
  }
  #contact-sec1 .center h2 {
    font-size: 1.65rem;
    margin-bottom: 0.6rem;
  }
  #contact-sec1 .ip-frm {
    margin-top: 1rem;
  }
  #contact-sec1 .ip-frm .grid-dis {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #contact-sec1 .ip-frm .flex-dis .sub-btn {
    width: 100%;
  }
  #contact-sec2 {
    padding: 1rem;
  }
  #contact-sec2 .infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-sec2 .infos h2 {
    font-size: 1.45rem;
    margin-top: 0.4rem;
  }
  #contact-sec2 .infos p {
    font-size: 1rem;
  }
  #contact-sec2 .infos .info {
    padding: 0.8rem;
    border-bottom: 1px dotted #333333;
  }
  #contact-sec2 .infos .lst-info {
    border: none;
  }
  #contact-sec3 {
    padding: 1rem;
  }
  #contact-sec3 .large h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 575px) {
  #contact-sec3 {
    padding: 1rem;
  }
  #contact-sec3 .large h1 {
    font-size: 1.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: #333333;
  line-height: 1;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

.logo a {
  font-family: 'Sansita Swashed', cursive;
  font-size: 3rem;
  color: #333333;
}

.logo a:hover {
  cursor: pointer;
}

#main-head {
  position: relative;
  background: url("/img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

#main-head::before {
  content: '';
  background: #B9B9B7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.29;
}

#main-head .container {
  position: relative;
  z-index: 5;
}

header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

header .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .main-nav ul li {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

header .main-nav ul li a {
  color: #333333;
  border-bottom: 2px transparent solid;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

header .main-nav ul li a:hover {
  border-color: #9D9D9D;
}

header .main-nav ul li a.current {
  border-color: #9D9D9D;
}

#main-head .head-content {
  text-align: center;
  padding-top: 25%;
}

#main-head .head-content h2 {
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
}

#main-head .head-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

#main-head .head-content a {
  background: #333333;
  color: #B9B9B7;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#main-head .head-content a:hover {
  background: #B9B9B7;
  color: #333333;
}

#main-section1 .boxes-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
  text-align: center;
}

#main-section1 .boxes-top i,
#main-section1 .boxes-top h3 {
  margin-bottom: 0.5rem;
}

#main-section1 .boxes-top i {
  color: #DBA768;
}

#main-section2 .boxes-mid {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#main-section2 .boxes-mid li {
  line-height: 1.5;
}

#main-section2 .boxes-mid li.li-txt {
  font-size: 1.3em;
}

#main-section2 .boxes-mid li.li-num {
  font-size: 1.5rem;
}

#main-section2 .boxes-mid div {
  padding: 3rem 0;
}

#main-section2 .boxes-mid div:nth-child(odd) {
  background: #B9B9B7;
}

#main-section2 .boxes-mid div:nth-child(even) {
  background: #9D9D9D;
}

#main-section3 .boxes-end {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
  text-align: center;
}

#main-section3 .boxes-end .icon-no {
  background-color: #9D9D9D;
  color: #E4E3DF;
  padding: 0.5rem;
  font-size: 1.3rem;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#main-section3 .boxes-end i {
  text-align: center;
  background: #DBA768;
  color: #ffffff;
  padding: 1.5rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 1rem;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#main-section3 .boxes-end i:hover {
  background-color: #9D9D9D;
  color: #E4E3DF;
  height: 60px;
  width: 60px;
}

#main-section3 .boxes-end i:hover div {
  background: #DBA768;
  color: #ffffff;
}

#main-section3 .boxes-end h3 {
  margin-bottom: 0.5rem;
}

#main-foot {
  background: #333333;
  color: #E4E3DF;
}

#main-foot .foot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#main-foot .foot-content .social i {
  margin-left: 1rem;
  border: 2px solid #9D9D9D;
  padding: 0.5rem;
  border-radius: 50%;
}

#main-foot .foot-content .social i:hover {
  cursor: pointer;
  background-color: #DBA768;
}

@media (max-width: 1150px) {
  #main-head .head-content {
    padding-top: 35%;
    color: #ffffff;
  }
  #main-head .head-content a {
    background: #B9B9B7;
    color: #333333;
  }
  #main-head .head-content a:hover {
    background: #333333;
    color: #B9B9B7;
  }
}

@media (max-width: 790px) {
  #main-head .head-content {
    padding-top: 45%;
  }
  #main-head .head-content h2 {
    font-size: 2.45rem;
    margin-bottom: 0.5rem;
  }
  #main-head .head-content p {
    font-size: 1.44rem;
    margin-bottom: 1.2rem;
  }
  #main-section1 .boxes-top {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #main-section2 .boxes-mid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #main-section2 .boxes-mid div {
    padding: 2rem 0;
  }
  #main-section2 .boxes-mid div:first-child {
    border-bottom: 1px solid #9D9D9D;
  }
  #main-section2 .boxes-mid div:last-child {
    border-top: 1px solid #B9B9B7;
  }
  #main-section3 .boxes-end {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media (max-width: 650px) {
  header .main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main-head .head-content h2 {
    font-size: 2.2rem;
    margin-bottom: 0.4rem;
  }
  #main-head .head-content p {
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
  }
  #main-section1 {
    padding: 2rem 0 0 0;
  }
  #main-section1 .boxes-top {
    padding: 0.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  #main-section1 .boxes-top div:not(.last) {
    padding-bottom: 1rem;
    border-bottom: 0.5px dotted #9D9D9D;
  }
  #main-section2 .boxes-mid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #main-section2 .boxes-mid div {
    padding: 2rem 0;
  }
  #main-section2 .boxes-mid div:first-child {
    border: none;
  }
  #main-section2 .boxes-mid div:last-child {
    border: none;
  }
  #main-section3 .boxes-end {
    margin-top: 1.5rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #main-foot .foot-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem 0;
  }
  #main-foot .foot-content p {
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 500px) {
  header .main-nav ul li {
    padding: 0.2rem;
    font-size: 1.2rem;
  }
  #main-head .head-content {
    padding-top: 65%;
  }
  #main-head .head-content h2 {
    font-size: 1.85rem;
    margin-bottom: 1rem;
  }
  #main-head .head-content p {
    font-size: 1.2rem;
  }
  #main-section3 {
    padding-top: 1rem;
  }
  #main-section1 h3,
  #main-section3 h3 {
    font-size: 1.15rem;
  }
  #main-section1 p,
  #main-section3 p {
    font-size: 1rem;
  }
  #main-section1 .center h2,
  #main-section3 .center h2 {
    font-size: 1.5rem;
  }
  #main-section1 .center p,
  #main-section3 .center p {
    font-size: 1.1rem;
  }
}
