.container{
    max-width: 1200px;
    padding:0rem 3rem;
    margin: auto;
    overflow: hidden;
}

//Buttons
%btnshared{
    display: inline-block;
    padding:0.8rem;
    font-size: 1.2rem;
    transition:all 0.5s;
}

//Padding
.py{
    &-1{padding:1rem 0}
    &-2{padding:2rem 0}
    &-3{padding:3rem 0}
}

.p{
    &-1{padding:1rem}
    &-2{padding:2rem}
    &-3{padding:1rem}
}

//Heading and paragraph aligning
.center{
    text-align: center;

    h2{
        font-size: 1.8rem;
        margin-bottom:1rem;
    }

    p{
        font-size: 1.2rem;
    }
}

